@media only screen and (max-width: 1500px) {
    body {
      background-color: lightblue;
    }

    .text1{
        font-size: 35px;
    }
    
    .text2{
        font-size: 20px;
    }

    @keyframes text{
        0%{
            color: rgb(179, 179, 179);
            margin-bottom: -30px;
        }
        30%{
            letter-spacing: 25px;
            margin-bottom: -30px;
        }
        85%{
            letter-spacing: 8px;
            margin-bottom: -30px;
        }
    }

    .arrow {
        margin-top: 60%;
    }
}

@media only screen and (max-width: 1250px) {
    body {
        background-color: rgb(135, 135, 194);
    }

    .text1{
        font-size: 25px;
    }
    
    .text2{
        font-size: 15px;
    }

    @keyframes text{
        0%{
            color: rgb(179, 179, 179);
            margin-bottom: -25px;
        }
        30%{
            letter-spacing: 15px;
            margin-bottom: -25px;
        }
        85%{
            letter-spacing: 8px;
            margin-bottom: -25px;
        }
    }

    .arrow {
        margin-top: 70%;
    }
}

@media only screen and (max-width: 825px) {
    body {
        background-color: rgb(29, 128, 82);
    }

    .text1{
        animation: text 2s 1;
    }

    @keyframes text{
        0%{
            color: rgb(179, 179, 179);
            margin-bottom: -25px;
        }
        30%{
            letter-spacing: 10px;
            margin-bottom: -25px;
        }
        85%{
            letter-spacing: 8px;
            margin-bottom: -25px;
        }
    }

    .arrow {
        margin-top: 100%;
    }
}

@media only screen and (max-width: 700px) {
    body {
        background-color: rgb(85, 92, 89);
    }

    .header-nav .links{
        display: none;
    }

    .knapp{
        width: 35px;
        height: 5px;
        background-color: #1E4359;
        margin: 6px 0;
    }

    .knapp:hover{
        width: 35px;
        height: 5px;
        background-color: #F24130;
        margin: 6px 0;
    }

    .dropbtn {
        border: none;
        background: none;
        color: #1E4359;
        padding: 12px 16px;
        font-size: 30px;
        cursor: pointer;
        transition: 0.3s;
    }
      
    .dropbtn:hover, .dropbtn:focus {
        color: #F24130;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
      
    .dropdown a:hover {
        background-color: #ddd;
    }
      
    .show {
        display: block;
    }

    .text1{
        animation: none;
    }

    .arrow {
        margin-top: 120%;
    }
}