/*Hoved farger:
Lysegrønn - #1fa78f
Hvit - #ffffff
Mørekegrønn - #005545
*/
body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.grid{
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px auto 1fr 50px;
    grid-template-areas: 
    "header header header header header header"
    "menu menu menu menu menu menu"
    "main main main main main main"
    "footer footer footer footer footer footer";
}

.header{
    grid-area: header;
}

.header-img{
    padding-left: 10%;
    text-align: center;
}

.header-nav{
    grid-area: menu;
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.links a{
    transition: .3s;
    text-decoration-line: underline;
    color: #1fa78f;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 1em;
}

.links a:hover{
    color: #005545;
    font-size: 1.5em;
    padding-right: 50px;
}

.main{
    grid-area: main;
}

.h1{
    color: #1fa78f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
}

.h2{
    color: #005545;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding-top: 10px;
    text-align: center;
}

.p1{
    color: #005545;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    padding-top: 30px;
    padding-bottom: 39px;
    line-height: 1.5em;
    text-align: center;
}

.footer{
    grid-area: footer;
    text-align: center;
}

.p2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-top: 50px;
}

/*------------------------------------------------------------*/

@media only screen and (min-width: 850px) {
    body {
        background-image: url(../Bilder/bakgrunn.png);
        background-position: center;
    }

    .grid{
        display: grid;
        grid-gap: 6px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 1fr 50px;
        grid-template-areas: 
        "header header header menu menu menu"
        "main main main main main main"
        "footer footer footer footer footer footer";
    }

    .header-img {
        text-align: left;
    }

    .links a {
        color: #ffffff;
        padding: 20px;
    }

    .main{
        margin-top: 100px;
        margin-left: 100px;
        grid-area: main;
    }

    .h1{
        color: #1fa78f;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
        text-align: left;
    }
    
    .h2{
        color: #005545;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3em;
        padding-top: 30px;
        text-align: left;
    }

    .p1{
        color: #005545;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        padding-top: 30px;
        padding-bottom: 39px;
        line-height: 1.5em;
        text-align: left;
    }
}
