/*
white: #F3E8EE
light-green: #BACDB0
light-medium-green: #96B495
medium-green: #729B79
dark-green: #506454
dark-gray: #2E2C2F
*/

* {
    font-family: 'Jost', sans-serif;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/*CURSOR TRACKER
.cursor-tracker {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 5px;
    height: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .25s;
}

VIDEO INTRO

Style the video container to cover the entire page
#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

Style the video to fill the container
#video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

Hide the video container when the video has ended 
#video-container.hidden {
    display: none;
}

VIDEO INTRO END
*/







































a {
    text-decoration: none;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
}

/*HEADER SECTION*/
.header-section {
    height: 100vh;
    display: flex;
}

/*HEADER SECTION / NAV SECTION*/
.header-nav {
    background-color: #101010;
    height: 100%;
    width: calc(100% / 4 * 1);
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-30rem); /* Start position, off the left side of the screen */
    }
    100% {
      transform: translateX(0); /* End position, content slides in from the left */

    }
}

.header-nav_logo {
    display: flex;
    flex-direction: column;
    height: calc(100% / 4 * 1);
    justify-content: center;
    align-items: center;
    color: white;
}

.header-nav_logo a {
    text-align: center;
}

.header-nav_logo a img {
    width: 25%;
    animation: slideInFromLeft 0.5s ease-in;
}

.header-nav_logo h3 {
    animation: slideInFromLeft 0.6s ease-in;
    font-weight: 200;
    letter-spacing: 1rem;
}

.header-nav_menu {
    display: flex;
    flex-direction: column;
    height: calc(100% / 4 * 2);
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.header-nav_menu a {
    width: 10rem;
    height: 2rem;
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.header-nav_menu a:hover {
    transition: color 0.25s ease-in;
    color: red;
    cursor: pointer;
}

.header-nav_some {
    display: flex;
    flex-direction: column;
    height: calc(100% / 4 * 1);
    justify-content: center;
    align-items: center;
    color: white;
}

.header-nav_some h3 {
    animation: slideInFromLeft 1.2s ease-in;
    font-weight: 300;
}

.fa {
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    animation: slideInFromLeft 1.3s ease-in;
}

.fa:hover {
    transition: color 0.25s ease-in;
    color: red;
}

/*HEADER SECTION / WELCOME SECTION*/
.header-welcome {
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(/Bilder/oliver_Black-White.jpg) no-repeat;
    background-position: 0px -15rem;
    background-size: cover;
    height: 100%;
    width: calc(100% / 4 * 3);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 0.5rem;
}

.header-welcome h1 {
    font-weight: 300;
}

.header-welcome h2 {
    font-size: 3rem;
    font-weight: 700px;
}

#welcome-text {
    padding-top: 1.5rem;
    font-weight: 500;
    font-size: 2rem;
}

.fixed-color {
    color: white; /* Color for the fixed "a" */
}
  
#changing-text {
    color: red; /* Fixed color for the changing text */
}

.header-welcome a {
    margin-top: 2rem;
    color: white;
    background-color: red;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: 0;
}

.header-welcome a:hover {
    color: red;
    background-color: white;
    transition: 0.25s ease-in;
}
/*HEADER SECTION END*/



/*STICKY MENU*/
.sticky-nav {
    height: 7rem;
    background-color: #101010;
    display: flex;
    color: white;
    align-items: center;
    gap: 20rem;
    text-align: center;
    position: sticky;
    top: 0;
}

.sticky-nav_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% / 3 * 1);
    gap: 2rem;
}

.sticky-nav_logo h3{
    font-weight: 200;
    letter-spacing: 1rem;
}

.sticky-nav_logo img {
    height: 4rem;
    padding-left: 5rem;
}

.sticky-nav_menu {
    width: calc(100% / 3 * 2);
}

.sticky-nav_menu a {
    width: 10rem;
    height: 2rem;
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    padding: 1.5rem;
}

.sticky-nav_menu a:hover {
    transition: color 0.25s ease-in;
    color: red;
    cursor: pointer;
}
/*STICKY MENU END*/

/*ABOUT*/
.about-section {
    background: linear-gradient(to bottom, #101010, #ffffff);
    height: 100vh;
}

.about-section {
    display: flex;
    padding: 10rem;
    justify-content: space-between;
    align-items: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    width: calc(100% / 2 * 1);
}

.about-content h1 {
    font-weight: 700;
    font-size: 4rem;
}

.about-content h2 {
    font-weight: 500;
    font-size: 2rem;
}

.about-content p {
    font-weight: 300;
    font-size: 1rem;
}

.about-content a {
    margin-top: 2rem;
    color: white;
    background-color: red;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: 0;
    width: 6rem;
    text-align: center;
}

.about-content a:hover {
    color: red;
    background-color: white;
    transition: 0.25s ease-in;
}

.about-img {
    width: calc(100% / 2 * 1);
}

.about-img img {
    width: 60%;
    float: right;
}



/* Style the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Style the modal content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* Style the close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }  
/*ABOUT END*/

/*GALLERY*/
.gallery-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-wrapper {
    align-items: center;
}

.gallery-titles {
    padding: 2rem;
}

.splide {
    max-width: 60rem;
}

.splide__slide {
    height: 40rem;
    background-color: #F3E8EE;
    text-align: center;
}

.gallery-image {
    max-width: 100%;
    max-height: 100%;
}

.my-slider-progress {
    background: #729B79;
}

.my-slider-progress-bar {
    background: greenyellow;
    height: 2px;
    transition: width 400ms ease;
    width: 0;
}
/*GALLERY END*/



























/*
NAVIGATION
.nav-bar {
    background-color: #729B79;
    height: 10vh;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 45px 0;
    z-index: 8000;
}

.nav-logo {
    margin-left: 2rem;
}

.nav-logo img{
    max-height: 5rem;
}

.nav-menu {
    margin-right: 2rem;
    display: flex;
}

.nav-btn {
    transition: 1s;
    padding: 1rem;
    border-radius: 90px;
    border: none;
    margin: 0.5rem;
    background-color: #96B495;
    color: #F3E8EE;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-btn:hover {
    transition: 1s;
    background-color: #F3E8EE;
    color: #96b495;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.about_me-section {
    flex-direction: row;
    justify-content: space-evenly;
    border-width: 0 0 1px 0;
    border-style: solid;
    text-align: center;
}

.about_shyer-section {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    text-align: center;
}

.section-image img {
    max-width: 50rem;
}

.section-text {
    max-width: 50rem;
}

GALLERY
.gallery-wrapper {
    align-items: center;
}

.gallery-titles {
    padding: 2rem;
}

.splide {
    max-width: 60rem;
}

.splide__slide {
    height: 40rem;
    background-color: #F3E8EE;
    text-align: center;
}

.gallery-image {
    max-width: 100%;
    max-height: 100%;
}

CAROUSEL PROGRESS

.my-slider-progress {
    background: #729B79;
}

.my-slider-progress-bar {
    background: greenyellow;
    height: 2px;
    transition: width 400ms ease;
    width: 0;
}

TEXT
h1 {
    font-size: 2rem;
}

p {
    font-size: 2rem;
}
*/