/////////////////////////////////////////////////////////////////////////////////////////
/*
Table of contents

1 General
    1.1 Variables
    1.2 Global
    1.3 body
        1.3.1 body / a
        1.3.2 body / main-wrapper
    1.4 Intro Video
    1.5 Nav
    
2 HEADER SECTION
    2.1 HEADER SECTION / NAV SECTION
        2.1.1 header-nav_logo
        2.1.2 header-nav_menu
        2.1.3 header-nav_some
    2.2 HEADER SECTION / WELCOME SECTION

3 STICKY MENU
    3.1 sticky-nav_logo
    3.2 sticky-nav_menu

4 ABOUT
    4.1 about-content
    4.2 about-img

5 WORK AND SCHOOL
    5.1 workAndSchool-content
    5.2workAndSchool-img

6 GALLERY
    6.1 gallery-wrapper
        6.1.1 splide__slide
        6.1.2 gallery-image
        6.1.3 my-slider-progress

7 SHOW MORE PAGE
    7.1 workAndSchool_showMore-section
        7.1.1 card-container
    7.2 currentWork-section
    7.3 education-section
        7.3.1 timeline

8 FOOTER
    8.1 footer-content_logo
    8.2 footer-content_contact
    8.3 footer-content_links
    8.4 footer-content_credits
    8.5 modal

9 MEDIA SCREENSIZE CUSTOMIZATION
    9.1 size 1340px
*/
/////////////////////////////////////////////////////////////////////////////////////////



//1 General

//1.1 Variables
$Red: #ef233c;
$RedDarked: #c00424;
$LightGrey: #a7a7a7;
$Dark: #101010;

//Gold Drop
$Gold50: #fffbec;
$Gold100: #fff5d3;
$Gold200: #ffe8a5;
$Gold300: #ffd66d;
$Gold400: #ffb832;
$Gold500: #ffa00a;
$Gold600: #f58300;
$Gold700: #cc6402;
$Gold800: #a14d0b;
$Gold900: #82410c;
$Gold950: #461f04;

//1.2 Global
* {
    font-family: 'Jost', sans-serif;
    scroll-behavior: smooth;
}

//1.3 body
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }

    //1.3.1 a
    a {
        text-decoration: none;
    }

    //1.3.2 main-wrapper
    .main-wrapper {
        display: flex;
        flex-direction: column;
    }
}

/*
//1.4 INTRO VIDEO
Style the video container to cover the entire page
#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

Style the video to fill the container
#video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

Hide the video container when the video has ended 
#video-container.hidden {
    display: none;
}

VIDEO INTRO END
*/

//1.5 Nav
.symbol-space {
    background-color: $Gold200;
    border-radius: 90px;
    border: solid 1px $Gold300;

    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24;
        color: $Gold800;
        background-color: $Gold400;
        border-radius: 90px;
        margin: 0.8rem;
        padding: 2px;
        border: solid 1px $Gold800;
    }
}



nav {
    display: none;
    position: sticky;
    top: 0;
    z-index: 998;
}

.container {
    max-width: 1050px;
    width: 70%;
    margin: auto;
    margin-left: 0;
}

.navbar {
    width: 100%;
    box-shadow: 0 1px 4px $LightGrey;
    background-color: $LightGrey;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navbar .menu-items {
    display: flex;
    background-color: $LightGrey;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
}

//2 HEADER SECTION
.header-section {
    height: 100vh;
    display: flex;

    //2.1 HEADER SECTION / NAV SECTION
    .header-nav {
        background-color: white;
        height: 100%;
        width: calc(100% / 4 * 1);

        @keyframes slideInFromLeft {
            0% {
            transform: translateX(-30rem); /* Start position, off the left side of the screen */
            }
            100% {
            transform: translateX(0); /* End position, content slides in from the left */
            }
        }

        //2.1.1 header-nav_logo
        .header-nav_logo {
            display: flex;
            flex-direction: column;
            height: calc(100% / 4 * 1);
            justify-content: center;
            align-items: center;
            color: $Gold400;
    
            a {
                text-align: center;
    
                img {
                    width: 10rem;
                }
            }
            
            h3 {
                animation: slideInFromLeft 0.6s ease-in;
                font-weight: 500;
                letter-spacing: 1rem;
    
                &:hover {
                    color: $Red;
                    cursor: pointer;
                    transition: color 0.25s ease-in;
                }
            }
        }
    
        //2.1.2 header-nav_menu
        .header-nav_menu {
            display: flex;
            flex-direction: column;
            height: calc(100% / 4 * 2);
            align-items: left;
            margin-left: 5rem;
            margin-top: 5rem;
            gap: 1.5rem;

            a {
                display: flex;
                align-items: center;
                gap: 1rem;
                background: none;
                border: none;
                color: black;
                font-size: 1rem;
                font-weight: 500;
                text-align: center;
    
                &:hover {
                    transition: color 0.25s ease-in;
                    color: $Gold400;
                    cursor: pointer;
                }

                .button-text {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    justify-content: center;

                   p {
                    font-size: 0.8rem;
                    color: $LightGrey;
                    font-weight: 500;
                    margin: 0;
                    } 
                } 
            }
        }
    
        //2.1.3 header-nav_some
        .header-nav_some {
            display: flex;
            flex-direction: column;
            height: calc(100% / 4 * 1);
            justify-content: center;
            align-items: center;
            color: black;
    
            h3 {
                animation: slideInFromLeft 1.2s ease-in;
                font-weight: 500;
            }
    
            .fa {
                margin-bottom: 1rem;
                color: $LightGrey;
                width: 1.5rem;
                height: 1.5rem;
                text-align: center;
                animation: slideInFromLeft 1.3s ease-in;
                font-size: 1.2rem;
    
                &:hover {
                    transition: color 0.25s ease-in;
                    color: $Gold400;
                }
            }
        }
    }

    //2.2 HEADER SECTION / WELCOME SECTION
    .header-welcome {
        background: linear-gradient(rgba(0, 0, 0, 0.70) 40%, $Gold700), url(/Bilder/oliver.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: calc(100% / 4 * 3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: white;
        line-height: 0.5rem;

        h1 {
            font-weight: 300;
        }

        h2 {
            font-size: 3rem;
            font-weight: 700px;
        }

        #welcome-text {
            padding-top: 1.5rem;
            font-weight: 500;
            font-size: 2rem;

            .fixed-color {
                color: white; /* Color for the fixed "a" */
            }

            #changing-text {
                color: $RedDarked; /* Fixed color for the changing text */
            }
        }

        a {
            margin-top: 2rem;
            color: $Gold950;
            background-color: $Gold200;
            padding: 1rem 1.5rem;
            border-radius: 0.5rem;
            border: 0;

            &:hover {
                color: $Gold950;
                background-color: $Gold300;
                transition: 0.25s ease-in;
            }
        }
    }
}
//HEADER SECTION END



//3 STICKY MENU
.sticky-nav {
    height: 7rem;
    background-color: white;
    display: flex;
    color: $Gold400;
    align-items: center;
    gap: 20rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 999;

    //3.1 sticky-nav_logo
    .sticky-nav_logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: calc(100% / 3 * 1);
        gap: 2rem;
    
        h3{
            font-weight: 500;
            letter-spacing: 1rem;

            &:hover {
                color: black;
                cursor: pointer;
                transition: color 0.25s ease-in;
            }
        }
    
        img {
            height: 4rem;
            padding-left: 5rem;
        }
    }
    
    //3.2 sticky-nav_menu
    .sticky-nav_menu {
        width: calc(100% / 3 * 2);
    
        a {
            width: 10rem;
            height: 2rem;
            background: none;
            border: none;
            color: $Gold400;
            font-size: 1rem;
            font-weight: 500;
            padding: 1.5rem;
    
            &:hover {
                transition: color 0.25s ease-in;
                color: black;
                cursor: pointer;
            }
        }
    }
}
//STICKY MENU END



//4 ABOUT
.about-section {
    background-size: cover;
    height: 100vh;
    display: flex;
    padding: 10rem;
    justify-content: space-between;
    align-items: center;
    color: black;
    border-bottom: solid 2px $Gold400;

    //4.1 about-content
    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100% / 2 * 1);

        .blog-section {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            border-radius: 24px;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border: 1px solid $LightGrey;

            h1 {
                font-weight: 400;
                font-size: 2rem;
                padding: 0;
                margin: 0;
            }

            .blog-article {
                display: flex;
                grid-gap: 1rem;
                padding: 1rem;
                background-color: #fff;
                overflow: hidden;
                border-bottom: 1px solid $LightGrey;
                
                img {
                    overflow: hidden;
                    width: 10rem;
                    height: 10rem;
                    border-radius: 16px;
                    object-fit: cover;
                }

                .text-content {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    max-width: calc(100% / 2);
                }

                h2 {
                    font-size: 1.5em;
                    margin: 10px 0;
                    font-weight: 400;
                }

                .category {
                    text-align: center;
                    background-color: $Gold300;
                    color: black;
                    padding: 5px;
                    font-size: 0.8em;
                    width: fit-content;
                    padding-left: 10px;
                    padding-right: 10px;
                    font-weight: 500;
                    border-radius: 90px;
                    margin-bottom: 5px;
                }
            }

            .blog-article:last-child { border-bottom: none; }

        }
    }
    
    //4.2 about-img
    .about-img {
        width: calc(100% / 2 * 1);
        position: relative;
    
        .gradient {
            width: 40rem;
            height: 40rem;
            background-image: linear-gradient(rgba(0, 0, 0, 0.15) 40%, $Gold700);
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 24px;
        }

        img {
            height: 40rem;
            width: 40rem;
            float: right;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 24px;
            object-fit: cover;
        }
    }
}
//ABOUT END



//5 WORK AND SCHOOL
.workAndSchool-section {
    background-size: cover;
    height: 100vh;
    display: flex;
    padding: 10rem;
    justify-content: space-between;
    align-items: center;
    color: black;

    //5.1 workAndSchool-content
    .workAndSchool-content {
        display: flex;
        flex-direction: column;
        width: calc(100% / 2 * 1);

        a {
            margin-top: 2rem;
            background-color: $Gold200;
            color: $Gold950;
            padding: 1rem;
            border-radius: 90px;
            width: fit-content;
            border: solid 1px $Gold400;
            align-self: center;

            &:hover {
                background-color: $Gold300;
                color: $Gold950;
                transition: 0.25s ease-in;
            }
        }
    
        .jobs-section {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            border-radius: 24px;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border: 1px solid $LightGrey;
    
            h1 {
                font-weight: 400;
                font-size: 2rem;
                padding: 0;
                margin: 0;
            }
    
            .jobs-article {
                display: flex;
                grid-gap: 1rem;
                padding: 1rem;
                background-color: #fff;
                overflow: hidden;
                border-bottom: 1px solid $LightGrey;
                
                img {
                    overflow: hidden;
                    width: 10rem;
                    height: 10rem;
                    border-radius: 16px;
                    object-fit: contain;
                    border: solid black 1px;
                }
    
                .text-content {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    max-width: calc(100% / 2);
                }
    
                h2 {
                    font-size: 1.5em;
                    margin: 10px 0;
                    font-weight: 400;
                    margin: 0;
                }

                p {
                    font-size: 1rem;
                    font-weight: 300;
                    color: $LightGrey;
                    margin: 0;
                    padding-bottom: 20px;
                }
    
                .category {
                    text-align: center;
                    background-color: $Gold100;
                    color: $Gold950;
                    border: solid $Gold400 1px;
                    font-size: 0.8em;
                    padding: 5px;
                    width: fit-content;
                    padding-left: 10px;
                    padding-right: 10px;
                    font-weight: 500;
                    border-radius: 90px;
                    margin-bottom: 5px;
                }
            }
    
            .jobs-article:last-child { border-bottom: none; }
    
        }
    }
    
    //5.2 workAndSchool-img
    .workAndSchool-img {
        width: calc(100% / 2 * 1);
    
        img {
            width: 70%;
            float: right;
            border-radius: 24px;
        }
    }
}
//WORK AND SCHOOL END



//6 GALLERY
.gallery-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    //background: linear-gradient(rgba(0, 0, 0, 0.15) 40%, $Gold700), url(/Bilder/gallery_background.png);
    background-size: cover;
    border-bottom: 5px solid black;

    //6.1 gallery-wrapper
    .gallery-wrapper {
        align-items: center;

        .gallery-titles {
            padding: 0 2rem 0 0;
            color: $Gold400;
            font-size: 2.5rem;
            font-weight: 300;
        }
        
        .splide {
            max-width: 60rem;

            //6.1.1 splide__slide
            .splide__slide {
                height: 40rem;
                background-color: #F3E8EE;
                text-align: center;
            }

            //6.1.2 gallery-image
            .gallery-image {
                max-width: 100%;
                max-height: 100%;
            }

            //6.1.3 my-slider-progress
            .my-slider-progress {
                background: grey;
            
                .my-slider-progress-bar {
                    background: white;
                    height: 5px;
                    transition: width 400ms ease;
                    width: 0;
                }
            }
        }        
    }
}
//GALLERY END



//7 SHOW MORE PAGE

//7.1 workAndSchool_showMore-section
.workAndSchool_showMore-section {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(/Bilder/background_black_and_white_1.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    color: white;
    border-bottom: 5px solid black;

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
    }

    //7.1.1 card-container
    .card-container {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            height: 12px;
        }
        &::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar-track {
            border-radius: 92px;
        }
        &::-webkit-scrollbar-thumb {
            background: $RedDarked;
        }
        &::-webkit-scrollbar-track {
            background: $LightGrey;
        }

        .card {
            flex: 1 0 auto;
            border-radius: 5rem;
            padding: 1rem;
            margin: 1rem;
            background-color: $LightGrey;
            display: flex;
            flex-direction: column;
            max-width: 25rem;
            height: 60vh;
        
            img {
                height: 50%;
                margin: 10px;
                object-fit: contain;
                border-bottom: solid $RedDarked;
                padding: 1rem;
            }

            .card-text {
                color: $Dark;
                white-space: pre-wrap;
                display: flex;
                flex-direction: column;
                overflow: auto;
                
                &::-webkit-scrollbar {
                    display: none;
                }
            
                h2 {
                    font-size: 2rem;
                    font-weight: 500;
                    color: $RedDarked;
                }
            
                p {
                    font-size: 1.2rem;
                    font-weight: 300;
                }
            }
        }
    }
}

//7.2 currentWork-section
.currentWork-section {
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(/Bilder/Shyer\ bakgrunn\ til\ skjermer.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    padding: 10rem;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 5px solid black;

    .currentWork-content {
        display: flex;
        flex-direction: column;
        width: calc(100% / 2 * 1);
        
        h1 {
            font-weight: 700;
            font-size: 4rem;
        }
    
        h2 {
            font-weight: 500;
            font-size: 2rem;
        }
    
        p {
            font-weight: 300;
            font-size: 1rem;
        }
    
        a {
            margin-top: 2rem;
            color: white;
            background-color: $RedDarked;
            padding: 1rem 1.5rem;
            border-radius: 0.5rem;
            border: 0;
            width: 6rem;
            text-align: center;
            cursor: pointer;
    
            &:hover {
                color: $RedDarked;
                background-color: white;
                transition: 0.25s ease-in;
            }
        }
    }
    
    .currentWork-img {
        width: calc(100% / 2 * 1);
    
        img {
            width: 100%;
            float: right;
            filter: brightness(0.8);
        }
    }
}

//7.3 education-section
.education-section {
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(/Bilder/bok.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    padding: 10rem;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 5px solid black;

    .education-content {
        display: flex;
        flex-direction: column;
        width: calc(100% / 2 * 1);
    
        h1 {
            font-weight: 700;
            font-size: 4rem;
        }
    
        h2 {
            font-weight: 500;
            font-size: 2rem;
        }
    
        p {
            font-weight: 300;
            font-size: 1rem;
        }
    
        a {
            margin-top: 2rem;
            color: white;
            background-color: $RedDarked;
            padding: 1rem 1.5rem;
            border-radius: 0.5rem;
            border: 0;
            width: 6rem;
            text-align: center;
            cursor: pointer;
    
            &:hover {
                color: $RedDarked;
                background-color: white;
                transition: 0.25s ease-in;
            }
        }
    }
    
    //7.3.1 timeline
    .timeline {
        max-width: 600px;
        margin: 50px auto;
    
        .timeline-item {
            position: relative;
            padding-left: 30px;
            margin-bottom: 30px;
        
            .timeline-content {
                background-color: #f9f9f9;
                padding: 10px;
                border-radius: 5px;
                color: black;

                h3 {
                    color: $RedDarked;
                }
            }
            
            .timeline-date {
                position: absolute;
                left: 0;
                top: 0;
                background-color: #333;
                color: #fff;
                padding: 5px 10px;
                border-radius: 5px;
            }
        }
    }
    
    .education-img {
        width: calc(100% / 2 * 1);
    
        img {
            width: 70%;
            float: right;
            box-shadow: 0 0 20px 20px #101010;
        }
    }
}
//SHOW MORE PAGE END



//8 FOOTER
.footer-section {
    padding: 5rem 20rem 0;
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(/Bilder/background_black_and_white_3.png);
    background-size: cover;
    text-transform: uppercase;

    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #101010;
        padding: 5rem 5rem 0 5rem;
        box-shadow: 0 20px 20px 20px #101010;
        
        //8.1 footer-content_logo
        .footer-content_logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            padding-bottom: 3rem;
        
            img {
                height: 7rem;
            }
        
            h3 {
                font-weight: 200;
                letter-spacing: 1rem;

                &:hover {
                    color: $Red;
                    cursor: pointer;
                    transition: color 0.25s ease-in;
                }
            }
        }
        
        //8.2 footer-content_contact
        .footer-content_contact {
            text-align: center;
            a {
                color: white;
                border: solid white 1px;
                padding: 0.5rem 1.5rem;
                font-weight: 300;
        
                &:hover {
                    background-color: white;
                    color: $RedDarked;
                    transition: color 0.25s ease-in;
                }
            }

            p {
                padding: 2rem;
                color: white;
                font-weight: 600;
                
                line-height: 2rem;
        
                p1 {
                    color: $RedDarked;
                }
            }
        }
        
        //8.3 footer-content_links
        .footer-content_links {
            display: flex;
            flex-wrap: wrap;
            width: 50rem;
            align-items: center;
            justify-content: center;
        
            a {
                color: white;
                border: solid white 1px;
                padding: 0.5rem 1.5rem;
                margin: 0.5rem;
                font-weight: 300;
        
                &:hover {
                    background-color: white;
                    color: $RedDarked;
                    transition: color 0.25s ease-in;
                }
            }
        }
        
        //8.4 footer-content_credits
        .footer-content_credits {
            margin-top: 5rem;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
        
            p {
                color: white;
                font-weight: 200;
            }
        
            a {
                color: white;
                font-weight: 200;
        
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                    color: $RedDarked;
                    transition: color 0.25s ease-in;
                }
            }

            //8.5 modal
            //Style the modal 
            .modal {
                display: none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);

                //Style the modal content
                .modal-content {
                    background-color: #fefefe;
                    margin: 15% auto;
                    padding: 20px;
                    border: 1px solid #888;
                    width: 80%;

                    h1 {
                        font-weight: 400;
                    }
                    
                    p {
                        color: black;
                        font-weight: 300;
                    }    

                    //Style the close button
                    .close {
                        color: #aaa;
                        float: right;
                        font-size: 28px;
                        font-weight: bold;

                        &:hover,
                        &:focus {
                            color: black;
                            text-decoration: none;
                            cursor: pointer;
                        }  
                    }
                }
            }
        }
    }

}
//FOOTER END

//9 MEDIA SCREENSIZE CUSTOMIZATION

//9.1 size 1340px
@media only screen and (max-width: 1340px) {
    .header-nav_logo {
        h3 {
            display: none;
        }
    }

    .sticky-nav_logo {
        h3 {
            display: none;
        }
    }

    .footer-content_links {
        flex-direction: column;
    }

    .footer-content_credits {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 1160px) {
    .footer-content_logo {
        h3 {
            display: none;
        }
    }

    .footer-content_contact {
        p{
            font-size: 0.7rem;
        }
    }

    .footer-content_credits {
        p {
            font-size: 0.7rem;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .header-section {
        flex-direction: column;

        .header-nav {
            width: 100%;
            height: 7rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: sticky;
            top: 0;

            @keyframes slideInFromLeft {
                0% {
                transform: translateX(0rem); /* Start position, off the left side of the screen */
                }
                100% {
                transform: translateX(0); /* End position, content slides in from the left */
        
                }
            }

            .header-nav_logo {
                img {
                    max-width: 6rem;
                }
            }

            .header-nav_menu {
                flex-direction: row;
            }

            .header-nav_some {
                display: none;
            }
        }

        .header-welcome {
            width: 100%;
        }
    }

    .sticky-nav {
        display: none;
    }

    .about-section {
        flex-direction: column;
        text-align: center;
        justify-content: center;

        .about-content {
            width: 100%;

            h1 {
                font-size: 3rem;
            }
        }

        .about-img {
            img {
                width: 100%;
            }
        }
    }

    .workAndSchool-section {
        flex-direction: column;
        text-align: center;
        justify-content: center;

        .workAndSchool-content {
            width: 100%;
            align-items: center;
            padding-bottom: 2rem;

            h1 {
                font-size: 3rem;
            }
        }

        .workAndSchool-img {
            img {
                width: 100%;
            }
        }
    }

    .footer-section {
        padding: 0;

        .footer-content_links {
            flex-direction: row;
        }
    }

    .education-content {
        h1 {
            display: none;
        }
    }

    .education-img {
        display: none;
    }

}

@media only screen and (max-width: 750px) {
    nav {
        display: block;
    }

    .header-section {
        .header-nav {
            display: none;
        }
    }

    .about-img {
        display: none;
    }

    .workAndSchool-img {
        display: none;
    }

    .currentWork-img {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .about-section {
        text-align: left;
        justify-content: center;
        padding: 1rem;
    }

    .workAndSchool-section {
        text-align: left;
        justify-content: center;
        padding: 1rem;

        h2 {
            display: none;
        }
        
    }

    .currentWork-section {
        text-align: left;
        padding: 1rem;
    }

    .education-section {
        align-items: unset;
        padding: 1rem;
    }

    .footer-content {
        .footer-content_links {
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 550px) {
    .header-section {
        .header-welcome {
            h2 {
                font-size: 2rem;
            }
        }
    }
}