.flex-container{
    display: flex;
    flex-direction: row;
    height: 15vh;
}

.speed-container{
    display:flex ;
    flex-direction: column;
    float: left;
    justify-content:space-around ;
}

.flex-container2{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
}

#wormBoard{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#score{
    color:black;
    font-size: 15vh;
    padding: 0;
    margin-left:43%;
}

#FPS{
    color: black;
}

#text{
    color: black;
}

.winning-message{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 5rem;
    padding: 0;
    
}

.winning-message button{
    font-size: 3rem;
    background-color: white;
    border: 2px solid black;
    padding: 0.25em .5em;
    cursor: pointer;
}

.winning-message button:hover{
    font-size: 3rem;
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 0.25em .5em;
    cursor: pointer;
}

.winning-message.show{
    display: flex;
}



body{
    background-color: rgb(88, 216, 210);
    overflow: hidden;
}

#speedUp{
    display: block;
}

#speedDown{
    display: block;
}

#speedUp.hide{
    display: none;
}

#speedDown.hide{
    display: none;
}




